*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #E8edff;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

a, button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
    // TODO: додати фокус для ховерів
}

ol, ul {
    list-style: none;
}

// HEADER

header {
    height: 95px;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: all .5s ease;
}

.header_scroll {
    width: 100%;
    height: 60px;
    background: linear-gradient(140.36deg, #2125A8 22.65%, #0F53FA 85.66%);
    box-shadow: 0 0 5px #555;
    opacity: 0.9;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#glowing_header_logo {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
}

.main_menu_list {
    display: flex;
    flex-direction: row;
    gap: 45px;
    a {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        position: relative;
        display: inline-block;
        overflow: hidden;
        background: linear-gradient(to right, #2DBEAB, #1BB5F7 50%, white 50%);
        // TODO: змінити колір градієнту і підібрати хороший колір для ховера
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 0.3s ease;
        &:hover {
            background-position: 0 100%;
        }
    }
}

// MAIN
// HOME SECTION

.home_section {
    background-image: url('../images/home_blue_bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 175px;
    }
}

.home_text {
    h3 {
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;
        letter-spacing: 0.145em;
        text-transform: uppercase;
        color: #00F8A5;
        margin-bottom: 10px;
    }
    .home_text_dashed_heading {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        position: relative;
        margin-bottom: 72px;
        &:before {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 108px;
            color: #fff;
            border-bottom: 1px solid white;
        }
    }
    p {
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        width: 538px;
        // TODO: змінити ширину, коли буду працювати над зображенням по правій стороні
        margin-bottom: 70px;
    }
    h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 225px;
    }
}

// HOME SECTION BUTTONS

.home_text_buttons {
    display: flex;
    gap: 60px;
    margin-bottom: 40px;
}

.hexabutton {
    position: relative;
    width: 225px;
    height: 63px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    span {
        position: relative;
        top: -7px;
        z-index: 1;
    }
    &:before {
        transform: perspective(15px) rotateX(4deg);
    }
    &:after {
        top: 32px;
        transform: perspective(15px) rotateX(-4deg);
    }
}

.hexabutton:before,
.hexabutton:after {
    position: absolute;
    content: '';
    width: 225px;
    left: 0px;
    height: 32px;
}

.hexabutton.border:before,
.hexabutton.border:after {
    border: 4px solid #fff;
}
.hexabutton.border:before {
    border-bottom: none; 
}
.hexabutton.border:after {
    border-top: none; 
}

.hexabutton.border:hover:before,
.hexabutton.border:hover:after {
    background: linear-gradient(90deg, #2DBEAB 3.4%, #1BB5F7 100%);
    border: none;
}
.hexabutton.border:hover {
    color: #fff;
}

.sign_in {
    color: #00F8A5;
    margin-left: 5px;
    &:hover {
        text-decoration: underline;
    }
}

// HOME SOCIAL MEDIA LIST

.sm_list_wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-left: 42px;
    position: relative;
    padding-bottom: 30px;
    &:before {
        content: '';
        position: absolute;
        top: 22px;
        left: -73%;
        width: 400px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);;
    }
    h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
    }
}

.sm_list {
    display: flex;
    gap: 36px;
    i {
        font-size: 30px;
        color: #FFFFFF;
        transition: all .2s ease;
        &:hover {
            color: #00F8A5;
        }
    }
}

// DOWN ARROW

.arrow_wrap {
    position: relative;   
}

.arrow_circle {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #E8edff;
    z-index: 20;
}

.arrow_triangle.left_tri {
    position: absolute;
    top: 2px;
    left: -38px;
    width: 0;
    height: 0;
    border-left: 63px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 38px solid #E8edff;
}

.arrow_triangle.right_tri {
    position: absolute;
    top: 2px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 63px solid transparent;
    border-bottom: 38px solid #E8edff;
}

.arrow_inner a {
    display: block;
    position: relative;
    top: 10px;
    left: -8px;
    transform: translate(50%);
    z-index: 25;
    svg {
        transition: all .1s ease;
    }
    &:hover svg {
        transform: scale(1.3);
    }
}

// BEST FEATURES SECTION

.best_features {
    padding: 130px;
}

.best_features_text {
    width: 50%;
    margin-bottom: 80px;
    h4 {
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        color: #11A1F2;
        margin-bottom: 10px;
        padding-left: 102px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 10px;
            left: -20px;
            width: 110px;
            border-bottom: 1px solid #11A1F2;
        }
    }
    h3 {
        font-weight: 600;
        font-size: 50px;
        line-height: 75px;
        background: linear-gradient(140.36deg, #060842 22.65%, #062E92 85.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
        padding-left: 102px;
    }
    p {
        line-height: 24px;
        color: #56628B;
    }
}

// BEST FEATURES CARD

.best_features_cards {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 55px;
}

.bf_card {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding: 70px 41px 0;
    box-shadow: 0px 80px 20px -50px rgba(29, 101, 241, 0.5);
    &:nth-child(1) {
        background: linear-gradient(180deg, #FF5E3A 0%, #FF2A68 100%);
    }
    &:nth-child(2) {
        background: linear-gradient(180deg, #C444FC 0%, #6C44FC 100%);
    }
    &:nth-child(3) {
        background: linear-gradient(180deg, #1A92FD 0%, #1D63F0 100%);
    }
}

.bf_card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    svg {
        margin-bottom: 30px;
    }
    h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        position: relative;
        margin-bottom: 55px;
        &:before {
            content: '';
            position: absolute;
            bottom: -12px;
            left: 50%;
            transform: translate(-50%);
            width: 143px;
            height: 1px;
            border-bottom: 1px solid #FFFFFF;
        }
    }
    p {
        color: #fff;
    }
}

// FEATURES SECTION

.features {
    background-image: url('../images/features_background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 235px;
    // TODO: змінити падінгтоп на менший, коли працюватмиу з анімацією
}

.features_container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.features_wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}


.features_text {
    width: 49%;
    // TODO: змінити ширину, коли працюватиму з анімацією і канвасом
    h3 {
        font-weight: 600;
        font-size: 50px;
        line-height: 75px;
        background: linear-gradient(140.36deg, #060842 22.65%, #062E92 85.66%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 73px;
    }
    p {
        line-height: 30px;
        color: #56628B;
        padding-bottom: 338px;
        // TODO: змінити мботом при праці з анімацією

    }
    .p_to_be_changed {
        padding-bottom: 238px;
    }
}

// PROCESS SECTION

.process {
    padding: 256px 0;
    .process_text {
        width: 100%;
        margin-bottom: 84px;
    }
}

.process_content {
    width: 60%;
}

// PROCESS ACCORDION

.accordion {
    color: #fff;
    cursor: pointer;
    position: relative;
    padding: 18px;
    width: 100%;
    height: 65px;
    text-align: left;
    border: none;
    outline: none;
    z-index: 10;
    transition: 0.4s;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    span {
        position: relative;
        padding-left: 15px;
        z-index: 15;
        &:before {
            content: url(../images/plus_sign_acc.svg); 
            float: right;
            transition: all .2s ease;
        }
    }
    &:before {
        top: 1px;
        transform: perspective(15px) rotateX(1deg);
    }
    &:after {
        bottom: 0px;
        transform: perspective(15px) rotateX(-1deg);
    }
}

.accordion:before,
.accordion:after {
    position: absolute;
    background: linear-gradient(90deg, #7C172C 3.4%, #5C00D7 100%);
    content: '';
    width: 100%;
    left: 0px;
    height: 32px;
    z-index: 5;
}

.accordion.active span:before {
    rotate: -45deg;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 30px;
    color: #56628B;
}

// SPONSORS SECTION

.sponsors {
    background-image: url('../images/features_background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    .container {
        display: flex;
        flex-direction: column;
        gap: 138px;
        margin-bottom: 133px;
    }
}

.sponsors_text {
    width: 38%;
    align-self: flex-end;
    h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        background: linear-gradient(140.36deg, #060842 22.65%, #062E92 85.66%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.sponsors_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
        opacity: 0.75;
        &:hover {
            opacity: 1;
        }
    }
}

.form_container {
    width: 90%;
    max-width: 1550px;
    margin: 0 auto;
}

.sponsors_form {
    height: 513px;
    filter: drop-shadow(10px 30px 20px rgba(0, 0, 0, 0.1));
    background: linear-gradient(90deg, #2830BB 3.4%, #00EFFE 100%);
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.form_inner_container {
    width: 90%;
    max-width: 1070px;
    margin: 0 auto;
    padding-top: 45px;
    h3 {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        color: #FFFFFF;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #FFFFFF;
        margin-bottom: 45px;
    }
    input {
        height: 66px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 50px;
        color: #FFFFFF;
        &::placeholder {
            color: #fff;
            opacity: 0.75;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 20px;
            line-height: 50px;
            color: #FFFFFF;
        }
    }
    #form_message {
        width: 100%;
    }
    .hexabutton {
        border: none;
        outline: none;
        background: none;
        width: 200px;
        margin: 0 auto;
        cursor: pointer;
        text-align: center;
        position: relative;
        text-transform: none;
        bottom: -87px;
        left: 50%;
        translate: -50%;
        font-weight: 700;
        color: #FFFFFF;
        span:first-of-type {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .hexabutton:before,
    .hexabutton:after {
        background: linear-gradient(90deg, #2DBEAB 3.4%, #1BB5F7 100%);
    }
}

.personal_info_wrap {
    display: flex;
    justify-content: space-between;
    gap: 107px;
    margin-bottom: 50px;
    input {
        flex-basis: 33%;
    }
}

// FOOTER

.footer {
    background-color: #DFE8FD;
}

.footer_container {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 525px 1fr;
    gap: 85px;
    padding: 85px 0;
    a {
        font-size: 20px;
        line-height: 30px;
        color: #333333;
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer_descr {
    h3 {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: #333333;
        margin-bottom: 15px;
    }
    p {
        color: #333333;
    }
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

.footer_list,
.footer_contact {
    display: flex;
    flex-direction: column;
}